/* #logo{
    position: absolute; top: 130px;
} */


#eng-ind {
    height: 35px;
    position: absolute; left: 550px; top: 350px

}

#ind-eng {
    height: 35px;
    position: absolute; left: 905px; top: 350px
}

#score {
    position: relative; text-align: right; right: 150px; top: 30px;
    font-size: 20px;
}

#time {
    position: relative; text-align: right; right: 150px; top: 10px;
    font-size: 40px;
}
/* 
#answer {
    position: relative; 
    font-size: 25px;  
    top: 150px; left: 285px;
} */

#selamat{
    font-size: 80px;
    color: rgb(230, 214, 214);
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   position: absolute; text-align: center; top: 30px; left: 500px;
}

#yourScore{
    position: absolute; text-align: center; top: 300px; font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 70px; left: 550px
}


#play {
    display: none;
}

#end {
    display: none;
}

#question {
    position: absolute; top: 180px;
    left: 600px; height: 40px; font-size: 45px; text-align: center;
}

#answer {
    position: absolute; top: 320px;
    left: 530px; height: 40px; font-size: x-large;
}

#head {
    font-size: 100px;
    color: rgb(48, 14, 238);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute; left: 600px; top: 50px;
}

#logo1 { 
    position: absolute;
    left: 50px; top: 100px

}

#logo {
    position: absolute;
    left: 50px; top: 100px
}